.THIS .clarityModal .modal-container {
    width: 100%;
    height: 100%;
    max-width: 80% !important;
}

.THIS .clarityModal {
    background: #000;
}

.THIS .slds-card {
    background: #00305C !important;
    border: #00305C !important;
}

.THIS h2 {
    color: #fff;
}

article.slds-card.slds-card_boundary.cFormResponseCard {
    background: #00305C !important;
    border: #00305C !important; 
}