.THIS .clarityModal {
  background: #000;
}

.THIS h2 {
  color: #fff;
}

.THIS article.slds-card.slds-card_boundary.formsClarityWizardSetup {
  background: #00305c !important;
  border: #00305c !important;
}

.THIS .slds-p-around_medium {
  background: #fff;
}

.THIS .x-large {
  height: 300px;
}

.THIS illustration-holder {
  background: #fff;
}

.THIS .setup_platform {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.THIS .ul-list {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
