html {
    background: none !important; 
    font-family: 'Salesforce Sans', BlinkMacSystemFont !important;
}

span, button {
    font-family: 'Salesforce Sans', BlinkMacSystemFont !important;
}

body {
    margin: 0; 
    font-family: 'Salesforce Sans', BlinkMacSystemFont !important;
}

ul {
    padding: 0; 
    margin: 0; 
}
