@font-face {
    font-family: 'Salesforce Sans';
    src: url('assets/fonts/SalesforceSans-Regular.ttf');
}

@font-face {
    font-family: 'Salesforce Sans';
    font-weight: 900;
    src: url('assets/fonts/SalesforceSans-Bold.ttf');
}

html {
    background: none !important; 
    font-family: 'Salesforce Sans', Arial, sans-serif;
}

body {
    margin: 0; 
}

#app {
    border-bottom: 5px solid #000;
}

ul {
    padding: 0; 
    margin: 0; 
}